<%- include('../layouts/header.ejs') %>

<!-- Page content -->
<div class="content">
  <% if (isCardType == true) { %>
    <div class="article-card-container">
        <% if (totalList != undefined && totalList.length > 0) { %>
          <% totalList.forEach(function(list){ %>
            <article class="article-card" onclick="onPlay()">
                <div class="hidden-video-tag"><%= list.id.videoId %></div>
                <img src="<%= list.snippet.thumbnails.medium.url %>" width="<%= list.snippet.thumbnails.medium.width %>"  height="<%= list.snippet.thumbnails.medium.height %>" alt="" class="thumb">              
                <div>
                  <p style="font-weight: 600;"><%= list.snippet.title %></p>
                </div>
              </article>        
          <% }) %>
          <% } %>
    </div>
  <% } else { %> 
    <div class="play-video-container">
        <h4 class="font-weight-600">Play Video</h4>
        <div>      
            <% if (playList != undefined && playList.length == 1) { %>
              <iframe width="550" height="350" src="https://www.youtube.com/embed/<%= playList[0].id.videoId %>" frameborder="0" allow="autoplay;encrypted=media" allowfullscreen></iframe>
            <% } %>
        </div>
    </div>        
    <div class="related-video-container">
      <h4 class="font-weight-600">Related Video List:</h4>
      <div class="related-video-content">
        <% if (relatedList != undefined && relatedList.length > 0) { %>
          <% relatedList.forEach(function(list){ %>
            <article class="article-content">
              <img src="<%= list.snippet.thumbnails.default.url %>" width="<%= list.snippet.thumbnails.default.width %>"  height="<%= list.snippet.thumbnails.default.height %>" alt="" class="thumb article-img">              
              <div>
                <p style="font-weight: 600;"><%= list.snippet.title %></p>
                <p><%= list.snippet.description %></p>
              </div>
            </article>
          <% }) %>
          <% } %>
        </div>      
    </div>
  <% }  %> 
</div>
<input type="hidden" id="videoTotalList"  value="<%= JSON.stringify(totalList) %>">
<script>
    $(document).ready(function () {        
        $("article").click(function(e){
          console.log("youtubeId", $(this).find(".hidden-vido-id").text());
        });         
    });
      console.log("videoTotalList", $("#videoTotalList").val());
      function onPlay() {
        console.log("youtubeId", $(this).find(".hidden-vido-id").text());
        // $.ajax({
        //     url: '/youtube/onPlayHome', // point to server-side controller method
        //     dataType: 'JSON', // what to expect back from the server
        //     cache: false,
        //     contentType: false,
        //     data: {
        //       youtubeId: youtubeId,
        //       videoTotalList: $("#videoTotalList").val()
        //     },
        //     processData: false,
        //     type: 'POST',
        //     success: function (response) {
        //       console.log(JSON.stringify(response));               
        //     },
        //     error: function (response) {
        //       console.log(response);
        //     }
        // });
      }
  </script>

<%- include('../layouts/footer.ejs') %>